<ion-header>
  <ion-navbar color="yellowgold">
    <ion-title>EGAT HRM</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <img src="assets/img/banner.png" width="100%">
  <ion-list>

    <form #loginForm="ngForm" novalidate>
      <ion-item>
        <ion-label floating color="primary">หมายเลขผู้ใช้</ion-label>
        <ion-input [(ngModel)]="login.username" name="username" type="number" #username="ngModel" spellcheck="false" autocapitalize="off" required>
        </ion-input>
      </ion-item>
      <p [hidden]="username.valid || submitted == false" color="danger" padding-left>
        กรุณาระบุหมายเลขผู้ใช้
      </p>

      <ion-item>
        <ion-label floating color="primary">รหัสผ่าน</ion-label>
        <ion-input [(ngModel)]="login.password" name="password" type="password" #password="ngModel" required>
        </ion-input>
      </ion-item>
      <p [hidden]="password.valid || submitted == false" color="danger" padding-left>
        กรุณาระบุรหัสผ่าน
      </p>

      <ion-row responsive-sm>
        <ion-col>
          <button ion-button (click)="onLogin(loginForm)" type="submit" color="primary" block>ลงชื่อเข้าใช้</button>
        </ion-col>
      </ion-row>
    </form>
  </ion-list>

</ion-content>

<ion-footer>
  <ion-navbar color="yellowgold">
    <p style="text-align : center">ฝ่ายทรัพยากรบุคคล การไฟฟ้าฝ่ายผลิตแห่งประเทศไทย</p>
  </ion-navbar>
</ion-footer>