page-name {
	ion-icon {	    
	    font-size: 2em;
	}
	.item {
		color: #8AA64E;
	}
	.float-button {
		opacity: 0.9;
		color: white;
		-webkit-border-radius: 50%;
		-moz-border-radius: 50%;
		border-radius: 50%;
	    font-size: 30px;
	    position: fixed;
	    bottom: 30px;
	    right: 30px;
	    z-index: 1000;
	}
 
}


