<!--
  Generated template for the SearchPage page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="yellowgold">
    <button menuToggle left>
      <ion-icon name="menu"></ion-icon>
    </button>    
    <ion-title>ค้นหาผู้ปฏิบัติงาน {{org}} </ion-title>
		<ion-buttons end>
			<button (click)="openFilters()" *ngIf="isLastPageReached()">
				<ion-icon name="funnel" [style.color]="usesFilter ? 'red': 'inherit'"></ion-icon>
			</button>
		</ion-buttons>    
  </ion-navbar>

</ion-header>

<ion-content class="search">	
	<ion-toolbar>		
		<ion-searchbar 
			[(ngModel)]="keyword" 
			(cancle)="userPressedCancle()" 
			placeholder="ชื่อ นามสกุล" 
			(keyup)="keyHasBeenPressed($event)">				
		</ion-searchbar>
	</ion-toolbar>
	<ion-list>
		<ion-item *ngFor="let result of results" (click)="getPersonalData(result)">
		  <ion-icon item-right  name="people" *ngIf="result.isBoss===true"></ion-icon>
	      <ion-thumbnail item-left>
	      	<img [src]="result.image_url">
	      </ion-thumbnail>
	      <h3 [innerText]="result.name"></h3> 	      
	      <p><strong>เลขประจำตัว :</strong> {{result.id}}</p>
	      <p>{{result.position}}</p>
	      <p text-wrap>{{result.org}}</p>
	    </ion-item>
	</ion-list>
	<div class="float-button" *ngIf="showButton" (click)="scrollToTop(100)">
	  <span class="height-fix">
	    <a class="content">
	      <ion-icon name="arrow-dropup-circle" color="danger"></ion-icon>
	    </a>
	  </span>
	</div>
	<ion-infinite-scroll *ngIf="!isLastPageReached()" (ionInfinite)="doInfinite($event)">
		<ion-infinite-scroll-content
		 	loadingSpinner="bubbles"
      		loadingText="Loading more data...">
      	</ion-infinite-scroll-content>
	</ion-infinite-scroll>
</ion-content>
