<ion-header> 
  <ion-navbar color="yellowgold">
    <ion-title>
    	ข้อมูลบุคคล
    </ion-title>
  </ion-navbar>
</ion-header>


<ion-content>
	<div class="profile-header">
    	<img src="{{result.image_url}}">
	</div>
	<ion-card *ngIf="dates">
		<ion-list>		
			<ion-item-group>
				<ion-item-divider sticky>
					<h1>ประวัติย่อ</h1>
				</ion-item-divider>
				<ion-item *ngFor="let date of dates">
					<ion-card-title>
						{{result.name}}
					</ion-card-title>
					<h2>เลขประจำตัว</h2>
					<p>{{result.id}}</p>
					<h2>วันเกิด</h2>
					<h2>{{date.birth_date}}</h2>
					<h2>อายุ</h2>
					<p>{{date.birth_age}}</p>
					<h2>วันเข้าทำงาน (อายุงาน)</h2>
					<p>{{date.entry_date}} ({{date.entry_age}})</p>
					<h2>วันเกษียณอายุ (อายุงานคงเหลือ)</h2>
					<p>{{date.retire_date}} ({{date.retire_age}})</p>
				</ion-item>
			</ion-item-group>			
	  	</ion-list>  
  	</ion-card>
	<ion-card *ngIf="positions">
		<ion-list>		
			<ion-item-group>
				<ion-item-divider sticky>
					<h1>ตำแหน่งปัจจุบัน</h1>
				</ion-item-divider>
				<ion-item *ngFor="let position of positions">
					<h2>สังกัด {{position.organization_type}}</h2>
					<p>{{position.org}}</p>
					<h2>ตำแหน่ง</h2>
					<p>{{position.pos_name}}</p>					
					<h2>อายุงานในตำแหน่ง</h2>
					<p>{{position.pos_date}} ({{position.pos_age}})</p>
					<h2>อายุงานต่อเนื่อง</h2>
					<p *ngFor="let date of dates">
						{{date.level_date}} ({{date.level_age}})
					</p>									
					<h2 *ngIf="position.boss.length > 0">ผู้บังคับบัญชา</h2>
					<p *ngFor="let manager of position.boss">
						{{manager}}
					</p>
				</ion-item>
			</ion-item-group>			
	  	</ion-list>  
  	</ion-card>	
</ion-content>
