page-profile {
	.profile-header {
	  background-color: #ecd636;
	  padding: 16px;
	  width: 100%;
	  min-height: 150px;
	  text-align: center;
	}

	.profile-header img {
	  max-width: 200px;
	  min-height: 115px;
	  padding: 25px 0 20px 0;
	  border-radius: .6em /*{global-radii-blocks}*/;
	  box-shadow: 0 0 12px rgba(0,0,0,.6);
	}

	h2 {
	  font-weight: bold;
	}
}
