<ion-menu [content]="content">

  <ion-header>
    <ion-toolbar color="yellowgold">
      <ion-title>เมนู</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content class="outer-content">
    <ion-list>
      <ion-list-header>
        <h2>ค้นหาผู้ปฏิบัติงานโดย</h2>
      </ion-list-header>
      <button menuClose ion-item *ngFor="let p of searchpages" (click)="openPage(p)">
        <ion-icon item-left [name]="p.icon" color="secondary"></ion-icon>
        {{p.title}}
      </button>
    </ion-list>
    <ion-list>
      <ion-list-header>
        <h2>ผู้ใช้งาน</h2>
      </ion-list-header>
      <button menuClose ion-item *ngFor="let p of accountpages" (click)="openPage(p)">
        <ion-icon item-left [name]="p.icon"></ion-icon>
        {{p.title}}
      </button>
      <button menuClose ion-item detail-none (click)="goBack()">
        <ion-icon item-left name="log-out" color="danger"></ion-icon> ออกจากระบบ
      </button>
    </ion-list>
  </ion-content>  

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>